.common-txt-style{
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
}

.header_first-section{
    background-image: url(../IMG/Sectionsbackground/section-1\(header\).jpg);
    background-attachment: fixed;
}

.main-header{
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    align-items: center;
}


.wrapper{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.header-content-wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ham-logo-block{
    display: flex;
    align-items: center;
    text-decoration: none;
}


.link{
    text-decoration: none;
}

.ham-logo{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: rgba(24, 207, 171, 1);
    height: 67px;
    width: 58px;
    position: relative;
    margin-right: 6px;
}

.ham-logo::after{
    content: 'H';
    color: white;
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: bold;
    position: absolute;
    left: 13px;
    top: 14px;
}

.headline-text{
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: white;
}

.green-text{
    line-height: 1px;
    color: rgba(24, 207, 171, 1);
}

.header-menu{
    display: flex;
    align-items: center;
}
.menu-item{
    list-style: none;
}

.menu-item-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    list-style: none;
    text-transform: uppercase;
    margin-right: 21.09px;
    text-decoration: none;
}

.menu-item-title:hover::after{
    content: "";
    border-bottom: 2px solid rgba(24, 207, 171, 1);
    width: 100px;
}

.menu-item-title:hover{
    padding-bottom: 48.5px;
    border-bottom: 2px solid rgba(24, 207, 171, 1);
    width: 100px;
    color: rgba(24, 207, 171, 1);
}


.section-wrapper{
    margin-top: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-bold-text{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.big-text{
    font-size: 78px;
    display: block;
    margin: 22px 0 22px 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.buttons-block{
    margin-top: 134px;
    display: flex;
    margin-bottom: 247px;
}
.btn{
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px; 
    padding-top: 16px;
    padding-right: 18px;
    padding-bottom: 16px;
    padding-left: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    text-transform: uppercase;
    box-shadow: 0px -5px 0px 0px #FFFFFF;
}
.btn-green{
    background-color: #18CFAB;
}
.btn-blue{
    background-color: #00CBF6;
    margin-left: 13px;
}

.grey-text{
    color: #D4D4D4;
    font-size: 34px;
    line-height: 1px;
}


.block-item:nth-child(odd){
    background-color: #1C2A33;
    color: #18CFAB;
}
.block-item:nth-child(even){
    background-color: rgba(24, 207, 171, 1);
    color: #FFFFFF;
}
.block-item{
    width: 25%;
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-top: 8px solid white;
}
.creative-footer-blocks{
    display: flex;
}
.block-item-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    display: block;
    position: absolute; 
    top: 242px;
}
.block-svg:nth-child(odd){
    margin-top: 95px; 
}
.block-svg:nth-child(even){
    margin-top: 105px; 
}
.section-heading{
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
    padding-top: 95px;
    margin-bottom: 101px;
    text-align: center;
}
.section-heading::after{
    content: '';
    height: 1px;
    width: 79px;
    background-color: rgba(24, 207, 171, 1);
    position: absolute;
    display: block;
    top: calc(100% + 24px);
    left: 50%;
    transform: translate(-50%);
    box-shadow: 13px 8px 0px 0px rgba(24, 207, 171, 1);
}

.tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}
.tab-item{
    width: 195px;
    padding: 16px 0px 16px 0px;
    background-color: #F8FCFE;
    cursor: pointer;
    font-size: 15.9859px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
}
.tab-item:hover{
    border: 1.5px solid rgba(24, 207, 171, 1);
}
.common-tab-style{
    border: 1px solid #EDEFEF;
    font-weight: normal;
    color: #717171;
}


.active-tab{
    background: rgba(24, 207, 171, 1);
    color: #FFFFFF;
    position: relative;
}
.active-tab::after{
    content: '';
    clip-path: polygon(47% 100%, 0 0, 100% 0);
    background: rgba(24, 207, 171, 1);
    width: 27px;
    height: 15px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}
.tab-item-text{
    display: block;
    font-size: 13.64px;
    line-height: 24.37px;
    color: #777777;
}

.tab-item-img{
    width: 192px;
    height: 139px;
    margin-right: 15px;
}
.tab-item-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
}
.img-text{
    display: none;
}
.active-tab-content{
    display: flex;
}
.title-big-text{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
.purchase-now{
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../IMG/Sectionsbackground/section-2.jpg);
    background-size: cover;
    background-position:center;
}
.purchase-now-content{
    padding-top: 126.78px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-text{
    font-size: 16px;
    padding-top: 12.22px;
    text-align: center;
    padding-bottom: 83px;
    line-height: 40px;

}
.button-wrapper{
    display: flex;
    justify-content: center;
    height: 64px;
}
.work-tab-item{
    font-size: 14px;
    line-height: 42px;
    padding: 14px 15px;
    cursor: pointer;
}
.work-tab-item:nth-child(1){
    padding-left: 28px;
    padding-right: 28px;
}
.work-tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 71px;

}
.work-tab-item:hover{
    color: #18CFAB;
}
.replacementblock{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #E9EDEF;
    border-top: 6px solid rgba(24, 207, 171, 1);
    position: absolute;
}
.icon-link{
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    position: relative;
    margin: 0px 1.5px 0px 1.5px;
}
.link-chain{
    border: 1px solid rgba(24, 207, 171, 1);
    border-radius: 50%;
}
.chain-svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-square::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: rgba(24, 207, 171, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link-square{
    border: 1px solid rgba(24, 207, 171, 1);
}
.link-square:hover{
    background-color: rgba(24, 207, 171, 1);
}
.link-square:hover::after{
    background-color: white;
}
.link-chain:hover{
    background-color: rgba(24, 207, 171, 1);
}
.link-chain:hover .chain-svg{
    stroke: white;
    fill: white;
}
.icons{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.icon-headline{
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    color: rgba(24, 207, 171, 1);
    text-transform: uppercase;
    text-align: center;
    margin-top: 23.82px;
}
.icon-subheading{
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    text-align: center;
    color: #8A8A8A;
}
.work-images{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.image-wrapper{
    position: relative;
}

.work-active-tab{
    border: 2px solid rgba(24, 207, 171, 1);
    color: rgba(24, 207, 171, 1);
}
.hidden{
    display: none;
}
.work{
    background-color: #E9EDEF;
}
.load-more-button{
    position: relative;
    font-size: 14px;
    line-height: 42px;
    padding-left: 56px;
}
.load-more-button::before{
    content: '';
    clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 76%, 35% 76%, 35% 50%, 10% 50%);
    height: 18px;
    width: 18px;
    background-color: white;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 23px;
}
.load-more-wrapper{
    padding-bottom: 99px;
}


/* breaking news */

.date{
    position: absolute;
    right: 0;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    color: white;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}
.news-item{
    position: relative;
    width: 263px;
    display: block;
    margin-right: 17.5px;
    margin-left: 17.5px;
    margin-bottom: 43.81px;
}
.news-item:nth-child(n+5){
    margin-bottom: 0px;
}
.news-item:first-child{
    margin-left: 0px;
}
.news-item:nth-child(5){
    margin-left: 0px;
}
.news-item:nth-child(4){
    margin-right: 0px;
}
.news-item:last-child{
    margin-right: 0px;
}

.news-headline{
    text-align: center;
    color: #717171;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
}
.news-subheading{
    display: flex;
    justify-content: space-around;
}
.news-subheading-text{
    color: #777777;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
}
.news-item:hover .date{
    background-color: rgba(24, 207, 171, 1);
}
.news-item:hover .news-headline{
    color: rgba(24, 207, 171, 1);
}
.news-content-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.reporter{
    position: relative;
}
.reporter::after{
    content: '';
    width: 1px;
    height: 12px;
    background-color: #777777;
    position: absolute;
    left: 97px;
    top: 14px;
}
.loader {
    display: block;
    margin: 0 auto;
    border: 5px solid #f3f3f3; 
    border-top: 5px solid rgba(24, 207, 171, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden-loader{
      display: none;
  }

  .container{
      display: flex;
      flex-wrap: wrap;
  }

  .img-wrapper{
      position: relative;
  }

  .hover{
      display: none;
  }

.load-more-wrapper{
    margin-top: 70px;
}

/* slider */

.review-block{
    background: url(../IMG/sectionsbackground/section-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 12px;
}

.quote-simbol{
    margin-bottom: 43px;
    margin-left: auto;
    margin-right: auto;
    width: 44px;
    height: 30px;
    background-repeat: no-repeat;
    display: block;
}

.pers-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:  #bbbbbb;
}
.pers-quote{
    line-height: 30px;
    margin-bottom: 43px;
}

.pers-name{
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:  #18cfab;
}

.pers-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 163px;
    margin: 27px auto 57px auto;
    border-radius: 50%;
    background-color:  rgba(31, 218, 181, 0.2);
    outline: none;
}

.pers-photo img{
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 3px solid #18cfab;
}

.rev-slider-nav{
    display: flex;
    justify-content: center;
    max-width: 420px;
    position: relative;
    top: -30px;
}

.rev-slider-nav .pers-photo{
    position: relative;
    margin: 0 30px;
    max-width: 82px;
    max-height: 82px;
    transform: scale(0.8);
}

.rev-slider-nav .pers-photo img{
    max-width: 74px;
    max-height: 74px;
}
.slick-arrow{
    margin: 0 -30px;
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;;
    color: #bbbbbb;
    box-sizing: border-box;
    line-height: 36px;
}

.slick-arrow:hover{
    background-color:  rgba(24, 207, 171, 1);
    border: none;
    color: #fff;
}

.slick-prev:before {
    content: "<";
    font-family: inherit;
    font-weight: 700;
    font-size: 13px;
    opacity: 1;
}

.slick-next:before{
    content: ">";
    font-family: inherit;
    font-weight: 700;
    font-size: 13px;
    opacity: 1;
}

.slick-center{
    outline: none;
    transform: scale(1.2);
}
.breaking-news{
    margin-bottom: 128px;
}
.slider-heading{
    color: #FFFFFF;
}

/* footer */

.footer{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22353F;
    height: 121px;
}

/* masonry */

.sizer1{
    width: 32%;
}
.sizer2{
    width: 50%;
}
.sizer4{
    width: 10%;
}
.item-masonry{
    position: relative;
    margin-bottom: 10px;

}

.item-masonry img{
    width: 100%;
    height: auto;
}

.grid-hover{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.grid-hover a {
    margin: 10px;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    background-color: #00cbf6;
}
.grid-item-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.grid-item-container img{
    width: 33.3%;
}

.loader2 {
    display: block;
    margin: 0 auto;
    border: 5px solid #f3f3f3; 
    border-top: 5px solid rgba(24, 207, 171, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  .hidden-loader2{
    display: none;
}
  